// 修改elementui的样式
.el-submenu .el-menu-item {
  font-size: 14px;
  padding-left: 50px !important;
  &.is-active{
    background-color: rgba(245,108,108,0.2) !important;}
}

// 改变一级菜单
li.el-submenu{
  &.is-active.is-opened .el-submenu__title{
    background-color: $mainColor !important;
  }
}